.pagination-container {
    margin: 2rem auto 4rem auto;
}
.page-button {
    border: 1px solid #6644af;
    color: #6644af;
    display: inline;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0.675rem 1rem;
    transition: all 250ms ease-in-out;
}

.page-button:hover {
    background-color: #6644af;
    color: #fff;
    cursor: pointer;
    transform: scale(1.2);
}

.page-button:not(:last-child) {
    margin-right: 0.675rem;
}

.page-button.active {
    background-color: #6644af;
    color: #fff;
}