.icon {
    background-color: #664aff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 2.75rem;
    width: 2.75rem;
    line-height: 2.75rem;
}

.icon:hover {
    cursor: pointer;
}