.container {
    margin: 10rem auto;
    padding: 0.4rem;
    width: 6rem;
}

.dot {
    background-color: #6644af;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.dot:not(:last-child) {
    margin-right: 5px;   
}

.dot-1 {
    animation: dot-loading 1s linear infinite;
}

.dot-2 {
    animation: dot-loading 1s 0.25s linear infinite;
}

.dot-3 {
    animation: dot-loading 1s 0.5s linear infinite;
}

.loading-text {
    color: #6644af;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

@keyframes dot-loading {
    50% {
        transform: translateY(1rem);
    }
}